

body{
    margin: 0;
}
div.big {
    width: 80%;
    height: 70vh;
    border: 1px solid grey;
    text-align: center;
    margin: 0 auto;
    
  }
  
  div.icons {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin:10px 0 auto;
  }
  .left_right{
    position: absolute;
    cursor: pointer;
    margin: -388px 0 0 10px;

    
}
#left, #right {
    width: 70px;
    height: 70px;
    background: rgba(0,0,0, 0.7);
    border-radius: 50%;
}
#right{
    margin-left: 1500px;
} 